<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n3/42/74/293434430.mp3</string>
		<key>audioName</key>
		<string>We Don&apos;t Talk Anymore</string>
		<key>audioSinger</key>
		<string>双笙</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/96/28/4279064489.jpg</string>
		<key>audioAlbum</key>
		<string>Nine Track Mind </string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rc01.sycdn.kuwo.cn/resource/n3/0/60/1895551684.mp3</string>
		<key>audioName</key>
		<string>大圈圈</string>
		<key>audioSinger</key>
		<string>安瑞兮</string>
		<key>audioAlbum</key>
		<string>大圈圈</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/15/81/2904217998.jpg</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rc01.sycdn.kuwo.cn/resource/n3/23/71/3444215254.mp3</string>
		<key>audioName</key>
		<string>残忍的温柔</string>
		<key>audioSinger</key>
		<string>阿悄</string>
		<key>audioAlbum</key>
		<string>世界上另外的自己</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/33/23/320399760.jpg</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rc01.sycdn.kuwo.cn/resource/n2/18/85/1078015765.mp3</string>
		<key>audioName</key>
		<string>幻化成风</string>
		<key>audioSinger</key>
		<string>じあやの </string>
		<key>audioAlbum</key>
		<string>風になる</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/4/61/3937822566.jpg</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n1/48/31/983199783.mp3</string>
		<key>audioName</key>
		<string>Rather Be</string>
		<key>audioSinger</key>
		<string>Clean Bandit / Jess Glynne </string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/15/54/2141539665.jpg</string>
		<key>audioAlbum</key>
		<string>New Eyes</string>
	</dict>
</array>
</plist>
