<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a3565fb3e616fcef595f1a555beaf096.mp3</string>
		<key>audioName</key>
		<string>We Don&apos;t Talk Anymore</string>
		<key>audioSinger</key>
		<string>双笙</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000001QUHr0ZY6kM.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Nine Track Mind </string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710fd1acda10b72d0a639f8e570eca9c6b5.mp3</string>
		<key>audioName</key>
		<string>大圈圈</string>
		<key>audioSinger</key>
		<string>安瑞兮</string>
		<key>audioAlbum</key>
		<string>大圈圈</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003dlwFv4HfhpO.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710f1ebcce08c0dd49cce8c35105b707231.mp3</string>
		<key>audioName</key>
		<string>残忍的温柔</string>
		<key>audioSinger</key>
		<string>阿悄</string>
		<key>audioAlbum</key>
		<string>世界上另外的自己</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004VIhSj0gRU3C.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/20171092444caf61a907b303c93771994ecf21.mp3</string>
		<key>audioName</key>
		<string>幻化成风</string>
		<key>audioSinger</key>
		<string>じあやの </string>
		<key>audioAlbum</key>
		<string>風になる</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000045LIxh199HN6.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710e804117ab2cd437005895a6bc8a24dd5.mp3</string>
		<key>audioName</key>
		<string>Rather Be</string>
		<key>audioSinger</key>
		<string>Clean Bandit / Jess Glynne </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003taZd901jM5C.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>New Eyes</string>
	</dict>
</array>
</plist>
