<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>PRC 巴音汗-80000 !.mp3</string>
		<key>audioName</key>
		<string>80000 !</string>
		<key>audioSinger</key>
		<string>PRC 巴音汗</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003rH8SJ2NTPLO.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>80000 !</string>
		<key>audioLyric</key>
		<string>巴音汗-80000!.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710c07a0e4122b9653aaa3d7c909430eb85.mp3</string>
		<key>audioName</key>
		<string>missing you</string>
		<key>audioSinger</key>
		<string>G-Dragon</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001mKd6p4WMzua.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>one of a kind</string>
		<key>audioLyric</key>
		<string>权志龙-MISSING YOU.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/2017101f62911a135db2551ad6bd13ac828fb3.mp3</string>
		<key>audioName</key>
		<string>红昭愿</string>
		<key>audioSinger</key>
		<string>音阙诗听</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004fqcR20kKXfn.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>红昭愿</string>
		<key>audioLyric</key>
		<string>音阙诗听-红昭愿.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710ca5f5899b92a90c4fe7c92d1e8a4d76a.mp3</string>
		<key>audioName</key>
		<string>有何不可</string>
		<key>audioSinger</key>
		<string>竹子翻唱</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002KSDg90IaScI.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>自定义</string>
		<key>audioLyric</key>
		<string>许嵩(Vae)-有何不可.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710add60e23a06c46ec7ce640aa0aff7a6b.mp3</string>
		<key>audioName</key>
		<string>全部都是你</string>
		<key>audioSinger</key>
		<string>Dragon Pig</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003zb8ZK21AC0C.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>全部都是你</string>
		<key>audioLyric</key>
		<string>Dragon Pig-全部都是你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710c92670ecbb4ca831098a842e7027a6a0.mp3</string>
		<key>audioName</key>
		<string>死皮赖脸</string>
		<key>audioSinger</key>
		<string>阿悄</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003M67BS2mu7TQ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>莎话</string>
		<key>audioLyric</key>
		<string>阿悄-死皮赖脸.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710f048a77f4486e14db4dbc3e1ff9d7d53.mp3</string>
		<key>audioName</key>
		<string>记得我爱你</string>
		<key>audioSinger</key>
		<string>周渝民</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000005FOUV1CUrJJ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>记得我爱你</string>
		<key>audioLyric</key>
		<string>周渝民-记得我爱你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710fb30043d295bf9d39b4f43331d2c8050.mp3</string>
		<key>audioName</key>
		<string>多幸运</string>
		<key>audioSinger</key>
		<string>黑崎子 </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001mdiTe1CDhf6.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>多幸运</string>
		<key>audioLyric</key>
		<string>黑崎子-多幸运.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a813eb493d5cec91159aec06231724e5.mp3</string>
		<key>audioName</key>
		<string>321对不起</string>
		<key>audioSinger</key>
		<string>徐良</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002apRhZ4Bq99d.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>徐良L</string>
		<key>audioLyric</key>
		<string>徐良&amp;小凌-321对不起.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710b36c2ec318a5d3170b4610cd31c45de9.mp3</string>
		<key>audioName</key>
		<string>追光者</string>
		<key>audioSinger</key>
		<string>汪苏泷</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001OJP0R3NGeiF.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>蒙面唱将</string>
		<key>audioLyric</key>
		<string>汪苏泷-追光者.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/2017106d7d03d770c6e2fa04efcc0c93d2f368.mp3</string>
		<key>audioName</key>
		<string>This Girl</string>
		<key>audioSinger</key>
		<string>Kungs</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004cZz532Um5mc.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Layers</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710e8230051b400d10f409eee4452d092af.mp3</string>
		<key>audioName</key>
		<string>Love You Like A Love Song</string>
		<key>audioSinger</key>
		<string>Selena Gomez/The Scene </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001lER430wIQ9g.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>For You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710c59f071496dc70d2d534d5ce87d645a7.mp3</string>
		<key>audioName</key>
		<string>醉红颜</string>
		<key>audioSinger</key>
		<string>刘依朵</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003R3gyQ0jBJR9.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>新水浒传</string>
		<key>audioLyric</key>
		<string>刘依朵-醉红颜.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/2017102f4b10ad281fc109390448827f39a500.mp3</string>
		<key>audioName</key>
		<string>天下有情人</string>
		<key>audioSinger</key>
		<string>周华健/齐豫 </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001OSsih4GwBLl.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>天下有情人</string>
		<key>audioLyric</key>
		<string>周华健.齐豫 -天下有情人.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://www.drcloud.top/audio/迷宫.mp3</string>
		<key>audioName</key>
		<string>迷宫</string>
		<key>audioSinger</key>
		<string>王若琳</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000xZ5yk1CjY5V.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>tart From Here</string>
		<key>audioLyric</key>
		<string>王若琳-迷宫.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710c211911f1abf480e4d0337583bd323b6.mp3</string>
		<key>audioName</key>
		<string>还不是因为你长得不好看</string>
		<key>audioSinger</key>
		<string>希瑟</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002GWwod4DjviD.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>还不是因为你长得不好看</string>
		<key>audioLyric</key>
		<string>希瑟-还不是因为你长得不好看.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://qqma.tingge123.com:83/123/2016/08/%E5%BC%A0%E7%A2%A7%E6%99%A8%20-%20%E4%B8%8B%E4%B8%80%E7%A7%92.mp3</string>
		<key>audioName</key>
		<string>下一秒</string>
		<key>audioSinger</key>
		<string>张碧晨</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003RxTdZ0sJLwo.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>电视原声</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/20171068c49a4e33b0838c4b2d390d75b36df3.mp3</string>
		<key>audioName</key>
		<string>自导自演</string>
		<key>audioSinger</key>
		<string>周杰伦</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000bviBl4FjTpO.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>跨时代</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/20171058176bf26f9616fe6cccf03d24885f35.mp3</string>
		<key>audioName</key>
		<string>不要说话</string>
		<key>audioSinger</key>
		<string>陈奕迅</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000J1pJ50cDCVE.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>不想放手</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/2017103ce9b5fb510e262f5e7985ca49dee2ce.mp3</string>
		<key>audioName</key>
		<string>外滩十八号</string>
		<key>audioSinger</key>
		<string>袁成杰</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000swBUo2LkuUz.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>男才女貌</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710ddfed12e36d424456a64ab15815b8b8a.mp3</string>
		<key>audioName</key>
		<string>喜帖街</string>
		<key>audioSinger</key>
		<string>谢安琪</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001yfMYP0RyXYU.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Binary</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a813eb493d5cec91159aec06231724e5.mp3</string>
		<key>audioName</key>
		<string>321对不起</string>
		<key>audioSinger</key>
		<string>徐良</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002apRhZ4Bq99d.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>徐良L</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710aaa99760e07665ac3bd13f5631c1cb7f.mp3</string>
		<key>audioName</key>
		<string>don&apos;t wanna know</string>
		<key>audioSinger</key>
		<string>Maroon 5</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001xHGCb28Xous.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>don&apos;t wanna know</string>
		<key>audioLyric</key>
		<string>Maroon 5-don&apos;t wanna know.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a497c90917fe0b918fb85819bc541344.mp3</string>
		<key>audioName</key>
		<string>拥抱</string>
		<key>audioSinger</key>
		<string>周玥翻唱</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000g4srs0OyIED.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>好不容易</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710e4d606509c9b003c36614f1097f6ac09.mp3</string>
		<key>audioName</key>
		<string>짧은 치마·短裙 </string>
		<key>audioSinger</key>
		<string>AOA</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000mzGe80mrXKx.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>짧은치마</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710eb5afbe7d8d8494dcc027f1dc9511418.mp3</string>
		<key>audioName</key>
		<string>Nevada </string>
		<key>audioSinger</key>
		<string>Vicetone</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002fNaQT07R61K.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Nevada</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710e7233e6059a90651af4786abb538151a.mp3</string>
		<key>audioName</key>
		<string>Call You Tonight</string>
		<key>audioSinger</key>
		<string>Whitney Houston</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001OXYAj1YEZGs.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>I Look To You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/2017103d9c66e83c1a022bfa2335320abd5d09.mp3</string>
		<key>audioName</key>
		<string>Undress Rehearsal</string>
		<key>audioSinger</key>
		<string>Timeflies</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003PtET32CGBEA.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Just For Fun</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710fead535a04e97df858a01ccb21b1565e.mp3</string>
		<key>audioName</key>
		<string>Better In  Time</string>
		<key>audioSinger</key>
		<string>Leona Lewis </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000011U1Yo0dOhnd.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>etter In Time</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/20171071e8b89d0d5f107e900afb04d261cc55.mp3</string>
		<key>audioName</key>
		<string>Thank You</string>
		<key>audioSinger</key>
		<string>Dido</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000oxDBo2WWlT6.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>No Angel</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710ff26079d084a33bc5f2a8ef4bf52d729.mp3</string>
		<key>audioName</key>
		<string>The Saltwater Room</string>
		<key>audioSinger</key>
		<string>Owl City/Breanne Düren</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004QBIkj0B3YDj.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Maybe I&apos;am Draming</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/2017104e1d82c176dea6d7990e77b02174d9ed.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Promo Only</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710e6b756c66adb4bfca91a618141c4cf39.mp3</string>
		<key>audioName</key>
		<string>What Do You Mean</string>
		<key>audioSinger</key>
		<string>Justin Bieber</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003JgO5e3q3ENZ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>What Do You Mean</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710215a6efee3eea0a08ef32a56ad09368e.mp3</string>
		<key>audioName</key>
		<string>Luv Me</string>
		<key>audioSinger</key>
		<string>AOA </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004aif7C0qPIAo.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Heart Attack</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710faafc24d88df1b11668ad3ad7868e0f4.mp3</string>
		<key>audioName</key>
		<string>Me Too</string>
		<key>audioSinger</key>
		<string>Meghan Trainor </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002oar1k1Gg3Tb.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Thank You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710fa043d82543c99eca82245988415ea9b.mp3</string>
		<key>audioName</key>
		<string>Stupid Liar</string>
		<key>audioSinger</key>
		<string>BIGBANG</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000007caWz3J43qX.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>빅뱅 스페셜에디션</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710112d0eaf55c3ffaaa5bada9f74acb97d.mp3</string>
		<key>audioName</key>
		<string>Worth It</string>
		<key>audioSinger</key>
		<string>Fifth Harmony/KiD Ink</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000LVgmS27amw5.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>reflection</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/20171061adf5666577a7c3d2868f16d41c95ae.mp3</string>
		<key>audioName</key>
		<string>Simple Song</string>
		<key>audioSinger</key>
		<string>Passenger</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003uksQz3DjpU8.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string> The Boy Who Cried Wolf</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a48315b63444112bb6e4d21f875b83b0.mp3</string>
		<key>audioName</key>
		<string>Knock Knock</string>
		<key>audioSinger</key>
		<string>TWICE</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001BdBu63SvTiv.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string> TWICEcoaster : LANE 2</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a587c00152b682fbdfd179c48cb1b101.mp3</string>
		<key>audioName</key>
		<string>My Bloody Valentine</string>
		<key>audioSinger</key>
		<string>ทาทา ยัง</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004R44AR21PgtS.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string> Ready For Love</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/中国/dsd.mp3</string>
		<key>audioName</key>
		<string>错误测试-该地址非标准链接</string>
		<key>audioSinger</key>
		<string>DF</string>
		<key>audioImage</key>
		<string>http://avatar.csdn.net/D/6/0/1_hdfqq188816190.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/ddsds/dsd.mp3</string>
		<key>audioName</key>
		<string>错误测试--该地址资源无法播放</string>
		<key>audioSinger</key>
		<string>DF</string>
		<key>audioImage</key>
		<string>http://avatar.csdn.net/D/6/0/1_hdfqq188816190.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>陈奕迅-不要说话.mp3</string>
		<key>audioName</key>
		<string>不要说话</string>
		<key>audioSinger</key>
		<string>陈奕迅</string>
		<key>audioAlbum</key>
		<string>不想放手</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000J1pJ50cDCVE.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>陈冠希-战争.mp3</string>
		<key>audioName</key>
		<string>战争</string>
		<key>audioSinger</key>
		<string>陈冠希</string>
		<key>audioAlbum</key>
		<string> Please Steal This Album</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003QaNTR4ZoCEp.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>911-I Do.mp3</string>
		<key>audioName</key>
		<string>I Do</string>
		<key>audioSinger</key>
		<string>911</string>
		<key>audioAlbum</key>
		<string>Illuminate</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004CwchI3kKkk5.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>张杰-三生三世.mp3</string>
		<key>audioName</key>
		<string>三生三世</string>
		<key>audioSinger</key>
		<string>张杰</string>
		<key>audioAlbum</key>
		<string>三生三世十里桃花</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000011IIJE3XYf9L.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>Frankmusik-Wrecking Ball.mp3</string>
		<key>audioName</key>
		<string>Wrecking Ball</string>
		<key>audioSinger</key>
		<string>Frankmusik</string>
		<key>audioAlbum</key>
		<string>Do It In the AM</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000025Cvqo46JwWA.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>Flo Rida-Can&apos;t Believe It.mp3</string>
		<key>audioName</key>
		<string>Can&apos;t Believe It</string>
		<key>audioSinger</key>
		<string>Flo Rida</string>
		<key>audioAlbum</key>
		<string>Can&apos;t Believe It</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001ZF3Kc1nkMZW.jpg?max_age=2592000</string>
	</dict>
</array>
</plist>
