<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>PRC 巴音汗-80000 !.mp3</string>
		<key>audioName</key>
		<string>80000 !</string>
		<key>audioSinger</key>
		<string>PRC 巴音汗</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003rH8SJ2NTPLO.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>80000 !</string>
		<key>audioLyric</key>
		<string>巴音汗-80000!.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rc01.sycdn.kuwo.cn/resource/n2/77/95/641635732.mp3</string>
		<key>audioName</key>
		<string>missing you</string>
		<key>audioSinger</key>
		<string>G-Dragon</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001mKd6p4WMzua.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>one of a kind</string>
		<key>audioLyric</key>
		<string>权志龙-MISSING YOU.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rb01.sycdn.kuwo.cn/resource/n3/36/2/2439170336.mp3</string>
		<key>audioName</key>
		<string>※ My Wishes ※</string>
		<key>audioSinger</key>
		<string>测试必看</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004CFXbv2LNbfL.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Kiss The Rain</string>
		<key>audioLyric</key>
		<string>ihoudf-dfplayer.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n1/20/55/3360038949.mp3</string>
		<key>audioName</key>
		<string>红昭愿</string>
		<key>audioSinger</key>
		<string>音阙诗听</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004fqcR20kKXfn.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>红昭愿</string>
		<key>audioLyric</key>
		<string>音阙诗听-红昭愿.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710ca5f5899b92a90c4fe7c92d1e8a4d76a.mp3</string>
		<key>audioName</key>
		<string>有何不可</string>
		<key>audioSinger</key>
		<string>许嵩</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002KSDg90IaScI.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>自定义</string>
		<key>audioLyric</key>
		<string>许嵩(Vae)-有何不可.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/78/89/3135926836.mp3</string>
		<key>audioName</key>
		<string>全部都是你</string>
		<key>audioSinger</key>
		<string>Dragon Pig</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003zb8ZK21AC0C.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>全部都是你</string>
		<key>audioLyric</key>
		<string>Dragon Pig-全部都是你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rd01.sycdn.kuwo.cn/resource/n2/51/37/2072162997.mp3</string>
		<key>audioName</key>
		<string>死皮赖脸</string>
		<key>audioSinger</key>
		<string>阿悄</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003M67BS2mu7TQ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>莎话</string>
		<key>audioLyric</key>
		<string>阿悄-死皮赖脸.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n2/44/35/2789729822.mp3</string>
		<key>audioName</key>
		<string>记得我爱你</string>
		<key>audioSinger</key>
		<string>周渝民</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000005FOUV1CUrJJ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>记得我爱你</string>
		<key>audioLyric</key>
		<string>周渝民-记得我爱你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rg01.sycdn.kuwo.cn/resource/n1/82/58/2383694774.mp3</string>
		<key>audioName</key>
		<string>多幸运</string>
		<key>audioSinger</key>
		<string>韩安旭</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001mdiTe1CDhf6.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>多幸运</string>
		<key>audioLyric</key>
		<string>韩安旭-多幸运.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/29/38/2466852912.mp3</string>
		<key>audioName</key>
		<string>消愁</string>
		<key>audioSinger</key>
		<string>毛不易</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002xoonH2Bk7FR.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>明日之子</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rc01.sycdn.kuwo.cn/resource/n1/62/78/2659067937.mp3</string>
		<key>audioName</key>
		<string>迷宫</string>
		<key>audioSinger</key>
		<string>王若琳</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000xZ5yk1CjY5V.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>tart From Here</string>
		<key>audioLyric</key>
		<string>王若琳-迷宫.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n3/128/3/11/3233852694.mp3</string>
		<key>audioName</key>
		<string>醉赤壁</string>
		<key>audioSinger</key>
		<string>林俊杰</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002g6zv02X7SNi.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>JJ陆</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/128/46/33/4185367153.mp3</string>
		<key>audioName</key>
		<string>醉红颜</string>
		<key>audioSinger</key>
		<string>刘依朵</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003R3gyQ0jBJR9.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>新水浒传</string>
		<key>audioLyric</key>
		<string>刘依朵-醉红颜.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.nf01.sycdn.kuwo.cn/resource/n3/54/68/856190137.mp3</string>
		<key>audioName</key>
		<string>追光者</string>
		<key>audioSinger</key>
		<string>汪苏泷</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001OJP0R3NGeiF.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>蒙面唱将</string>
		<key>audioLyric</key>
		<string>汪苏泷-追光者.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n2/96/82/751836855.mp3</string>
		<key>audioName</key>
		<string>This Girl</string>
		<key>audioSinger</key>
		<string>Kungs</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004cZz532Um5mc.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Layers</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/128/86/54/3027419069.mp3</string>
		<key>audioName</key>
		<string>Love You Like A Love Song</string>
		<key>audioSinger</key>
		<string>Selena Gomez/The Scene </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001lER430wIQ9g.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>For You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n1/41/75/911139110.mp3</string>
		<key>audioName</key>
		<string>还不是因为你长得不好看</string>
		<key>audioSinger</key>
		<string>满汉全席</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/12/35/1047912582.jpg</string>
		<key>audioAlbum</key>
		<string>还不是因为你长得不好看</string>
		<key>audioLyric</key>
		<string>希瑟-还不是因为你长得不好看.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.nf01.sycdn.kuwo.cn/resource/n2/50/66/3537142024.mp3</string>
		<key>audioName</key>
		<string>All falls down</string>
		<key>audioSinger</key>
		<string>Alan Walker</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/75/50/3322907078.jpg</string>
		<key>audioAlbum</key>
		<string>All falls down</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n3/89/64/1029618124.mp3</string>
		<key>audioName</key>
		<string>下一秒</string>
		<key>audioSinger</key>
		<string>张碧晨</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/6/72/3732390216.jpg</string>
		<key>audioAlbum</key>
		<string>电视原声</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n3/128/65/38/658054348.mp3</string>
		<key>audioName</key>
		<string>自导自演</string>
		<key>audioSinger</key>
		<string>周杰伦</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/42/97/3914752958.jpg</string>
		<key>audioAlbum</key>
		<string>跨时代</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/89/22/1331689857.mp3</string>
		<key>audioName</key>
		<string>不要说话</string>
		<key>audioSinger</key>
		<string>陈奕迅</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/44/10/3787691319.jpg</string>
		<key>audioAlbum</key>
		<string>不想放手</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n3/128/74/31/1670327590.mp3</string>
		<key>audioName</key>
		<string>外滩十八号</string>
		<key>audioSinger</key>
		<string>袁成杰</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/48/33/1336918288.jpg</string>
		<key>audioAlbum</key>
		<string>男才女貌</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.re01.sycdn.kuwo.cn/resource/n2/23/54/388169600.mp3</string>
		<key>audioName</key>
		<string>喜帖街</string>
		<key>audioSinger</key>
		<string>谢安琪</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/42/50/1391111203.jpg</string>
		<key>audioAlbum</key>
		<string>Binary</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.re01.sycdn.kuwo.cn/resource/n3/67/10/2645918637.mp3</string>
		<key>audioName</key>
		<string>你还要我怎样</string>
		<key>audioSinger</key>
		<string>薛之谦</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/10/94/745334819.jpg</string>
		<key>audioAlbum</key>
		<string>意外</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/8/2/3726133611.mp3</string>
		<key>audioName</key>
		<string>老街</string>
		<key>audioSinger</key>
		<string>李荣浩</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/89/64/2470139548.jpg</string>
		<key>audioAlbum</key>
		<string>小黄</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n3/26/30/581951986.mp3</string>
		<key>audioName</key>
		<string>拥抱</string>
		<key>audioSinger</key>
		<string>周玥翻唱</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/79/26/2865933807.jpg</string>
		<key>audioAlbum</key>
		<string>好不容易</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/46/14/2530789814.mp3</string>
		<key>audioName</key>
		<string>짧은 치마·短裙 </string>
		<key>audioSinger</key>
		<string>AOA</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/89/56/1557289398.jpg</string>
		<key>audioAlbum</key>
		<string>짧은치마</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rn01.sycdn.kuwo.cn/resource/n2/55/11/2832166689.mp3</string>
		<key>audioName</key>
		<string>Nevada </string>
		<key>audioSinger</key>
		<string>Vicetone</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002fNaQT07R61K.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Nevada</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n1/1/47/1530516091.mp3</string>
		<key>audioName</key>
		<string>Call You Tonight</string>
		<key>audioSinger</key>
		<string>Whitney Houston</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/58/29/2200255795.jpg</string>
		<key>audioAlbum</key>
		<string>I Look To You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rg01.sycdn.kuwo.cn/resource/n1/30/35/1259100473.mp3</string>
		<key>audioName</key>
		<string>Undress Rehearsal</string>
		<key>audioSinger</key>
		<string>Timeflies</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/11/49/287647711.jpg</string>
		<key>audioAlbum</key>
		<string>Just For Fun</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n1/28/26/1416555740.mp3</string>
		<key>audioName</key>
		<string>Better In  Time</string>
		<key>audioSinger</key>
		<string>Leona Lewis </string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/28/43/1275421755.jpg</string>
		<key>audioAlbum</key>
		<string>etter In Time</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n1/128/66/71/1877131759.mp3</string>
		<key>audioName</key>
		<string>Thank You</string>
		<key>audioSinger</key>
		<string>Dido</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/68/26/1997363965.jpg</string>
		<key>audioAlbum</key>
		<string>No Angel</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rd01.sycdn.kuwo.cn/resource/n2/11/16/194886998.mp3</string>
		<key>audioName</key>
		<string>The Saltwater Room</string>
		<key>audioSinger</key>
		<string>Owl City/Breanne Düren</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/14/37/2997814074.jpg</string>
		<key>audioAlbum</key>
		<string>Maybe I&apos;am Draming</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n3/29/40/872791184.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/45/32/2392023816.jpg</string>
		<key>audioAlbum</key>
		<string>Promo Only</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n1/63/40/3164229706.mp3</string>
		<key>audioName</key>
		<string>What Do You Mean</string>
		<key>audioSinger</key>
		<string>Justin Bieber</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/75/25/1401000432.jpg</string>
		<key>audioAlbum</key>
		<string>What Do You Mean</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rf01.sycdn.kuwo.cn/resource/n2/28/31/85535444.mp3</string>
		<key>audioName</key>
		<string>Luv Me</string>
		<key>audioSinger</key>
		<string>AOA </string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/89/56/1557289398.jpg</string>
		<key>audioAlbum</key>
		<string>Heart Attack</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n2/8/54/2683107462.mp3</string>
		<key>audioName</key>
		<string>Me Too</string>
		<key>audioSinger</key>
		<string>Meghan Trainor </string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/2/85/2484817172.jpg</string>
		<key>audioAlbum</key>
		<string>Thank You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/98/49/4072642901.mp3</string>
		<key>audioName</key>
		<string>Stupid Liar</string>
		<key>audioSinger</key>
		<string>BIGBANG</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/88/3/859947670.jpg</string>
		<key>audioAlbum</key>
		<string>빅뱅 스페셜에디션</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n1/57/9/954914769.mp3</string>
		<key>audioName</key>
		<string>Worth It</string>
		<key>audioSinger</key>
		<string>Fifth Harmony/KiD Ink</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/95/29/2644820641.jpg</string>
		<key>audioAlbum</key>
		<string>reflection</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n1/4/87/1072629745.mp3</string>
		<key>audioName</key>
		<string>Simple Song</string>
		<key>audioSinger</key>
		<string>Passenger</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/69/88/4276988886.jpg</string>
		<key>audioAlbum</key>
		<string> The Boy Who Cried Wolf</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n2/34/15/2942316732.mp3</string>
		<key>audioName</key>
		<string>Knock Knock</string>
		<key>audioSinger</key>
		<string>TWICE</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/7/91/2330395520.jpg</string>
		<key>audioAlbum</key>
		<string> TWICEcoaster : LANE 2</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/128/13/26/2303002890.mp3</string>
		<key>audioName</key>
		<string>My Bloody Valentine</string>
		<key>audioSinger</key>
		<string>ทาทา ยัง</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/42/39/2898495343.jpg</string>
		<key>audioAlbum</key>
		<string> Ready For Love</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/中国/dsd.mp3</string>
		<key>audioName</key>
		<string>错误测试-该地址非标准链接</string>
		<key>audioSinger</key>
		<string>DF</string>
		<key>audioImage</key>
		<string>http://avatar.csdn.net/D/6/0/1_hdfqq188816190.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/ddsds/dsd.mp3</string>
		<key>audioName</key>
		<string>错误测试--该地址无对应资源</string>
		<key>audioSinger</key>
		<string>DF</string>
		<key>audioImage</key>
		<string>http://avatar.csdn.net/D/6/0/1_hdfqq188816190.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>陈冠希-战争.mp3</string>
		<key>audioName</key>
		<string>战争</string>
		<key>audioSinger</key>
		<string>陈冠希</string>
		<key>audioAlbum</key>
		<string> Please Steal This Album</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003QaNTR4ZoCEp.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>911-I Do.mp3</string>
		<key>audioName</key>
		<string>I Do</string>
		<key>audioSinger</key>
		<string>911</string>
		<key>audioAlbum</key>
		<string>Illuminate</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004CwchI3kKkk5.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>张杰-三生三世.mp3</string>
		<key>audioName</key>
		<string>三生三世</string>
		<key>audioSinger</key>
		<string>张杰</string>
		<key>audioAlbum</key>
		<string>三生三世十里桃花</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000011IIJE3XYf9L.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>Frankmusik-Wrecking Ball.mp3</string>
		<key>audioName</key>
		<string>Wrecking Ball</string>
		<key>audioSinger</key>
		<string>Frankmusik</string>
		<key>audioAlbum</key>
		<string>Do It In the AM</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000025Cvqo46JwWA.jpg?max_age=2592000</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>Flo Rida-Can&apos;t Believe It.mp3</string>
		<key>audioName</key>
		<string>Can&apos;t Believe It</string>
		<key>audioSinger</key>
		<string>Flo Rida</string>
		<key>audioAlbum</key>
		<string>Can&apos;t Believe It</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001ZF3Kc1nkMZW.jpg?max_age=2592000</string>
	</dict>
</array>
</plist>
