<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>大圈圈.mp3</string>
		<key>audioName</key>
		<string>大圈圈</string>
		<key>audioSinger</key>
		<string>安瑞兮</string>
		<key>audioAlbum</key>
		<string>大圈圈</string>
		<key>audioImage</key>
		<string>T002R300x300M000003dlwFv4HfhpO.jpg</string>
	</dict>
</array>
</plist>
