<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710c07a0e4122b9653aaa3d7c909430eb85.mp3</string>
		<key>audioName</key>
		<string>missing you</string>
		<key>audioSinger</key>
		<string>G-Dragon</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001mKd6p4WMzua.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>one of a kind</string>
		<key>audioLyric</key>
		<string>权志龙-MISSING YOU.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://www.drcloud.top/audio/迷宫.mp3</string>
		<key>audioName</key>
		<string>迷宫</string>
		<key>audioSinger</key>
		<string>王若琳</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000xZ5yk1CjY5V.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>tart From Here</string>
		<key>audioLyric</key>
		<string>王若琳-迷宫.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710ca5f5899b92a90c4fe7c92d1e8a4d76a.mp3</string>
		<key>audioName</key>
		<string>有何不可（女声翻唱）</string>
		<key>audioSinger</key>
		<string>许嵩</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002KSDg90IaScI.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>自定义</string>
		<key>audioLyric</key>
		<string>许嵩(Vae)-有何不可.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a813eb493d5cec91159aec06231724e5.mp3</string>
		<key>audioName</key>
		<string>321对不起</string>
		<key>audioSinger</key>
		<string>徐良</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002apRhZ4Bq99d.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>徐良L</string>
		<key>audioLyric</key>
		<string>徐良&amp;小凌-321对不起.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710c59f071496dc70d2d534d5ce87d645a7.mp3</string>
		<key>audioName</key>
		<string>醉红颜（女生哼唱版）</string>
		<key>audioSinger</key>
		<string>刘依朵</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003R3gyQ0jBJR9.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>新水浒传</string>
		<key>audioLyric</key>
		<string>刘依朵-醉红颜.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710aaa99760e07665ac3bd13f5631c1cb7f.mp3</string>
		<key>audioName</key>
		<string>don&apos;t wanna know</string>
		<key>audioSinger</key>
		<string>Maroon 5</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001xHGCb28Xous.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>don&apos;t wanna know</string>
		<key>audioLyric</key>
		<string>Maroon 5-don&apos;t wanna know.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710add60e23a06c46ec7ce640aa0aff7a6b.mp3</string>
		<key>audioName</key>
		<string>全部都是你</string>
		<key>audioSinger</key>
		<string>Dragon Pig/CLOUD WANG/CNBALLER</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003zb8ZK21AC0C.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>全部都是你</string>
		<key>audioLyric</key>
		<string>Dragon Pig-全部都是你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G033/M04/08/13/AZQEAFXqfqmANHSzADVsu1PYHWs166.mp3</string>
		<key>audioName</key>
		<string>Free Loop</string>
		<key>audioSinger</key>
		<string>台妹</string>
		<key>audioImage</key>
		<string>http://wsing.bssdl.kugou.com/7789a69da0f276f318509eaf5efb4935.jpg_180x180.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
		<key>audioLyric</key>
		<string>freeloop.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://qqma.tingge123.com:83/123/2016/08/%E5%BC%A0%E7%A2%A7%E6%99%A8%20-%20%E4%B8%8B%E4%B8%80%E7%A7%92.mp3</string>
		<key>audioName</key>
		<string>下一秒</string>
		<key>audioSinger</key>
		<string>张碧晨</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003RxTdZ0sJLwo.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>电视原声</string>
		<key>audioLyric</key>
		<string>xiayimiao.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://qqma.tingge123.com:823/mp3/2016-06-19/1466299330.mp3</string>
		<key>audioName</key>
		<string>后青春期的诗</string>
		<key>audioSinger</key>
		<string>五月天</string>
		<key>audioImage</key>
		<string>http://pic.xiami.net/images/album/img10/3110/3059791379063569.jpg@4e_1c_100Q_185w_185h</string>
		<key>audioAlbum</key>
		<string>后青春期的诗</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://qqma.tingge123.com:823/mp3/2015-10-13/1444733831.mp3</string>
		<key>audioName</key>
		<string>bae bae</string>
		<key>audioSinger</key>
		<string>GD</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M00000078fT84A2h6x.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>MADE</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://qqma.tingge123.com:823/mp3/2016-06-29/1467212493.mp3</string>
		<key>audioName</key>
		<string>Nevada </string>
		<key>audioSinger</key>
		<string>Vicetone</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002fNaQT07R61K.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Nevada</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://www.drcloud.top/file/测试.mp3</string>
		<key>audioName</key>
		<string>Call You Tonight(中文文件名)</string>
		<key>audioSinger</key>
		<string>Whitney Houston</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001OXYAj1YEZGs.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>I Look To You</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G032/M06/00/11/wIYBAFXvIfKASMOwABkKTmgSZ6c881.mp3</string>
		<key>audioName</key>
		<string>Only Girl</string>
		<key>audioSinger</key>
		<string>Rihanna</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004AV5dD3zumSA.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Only Girl</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G048/M0A/12/1B/0IYBAFX5HyiAJHAGAEk00cyEXEM831.mp3</string>
		<key>audioName</key>
		<string>有何不可</string>
		<key>audioSinger</key>
		<string>许嵩</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002KSDg90IaScI.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>自定义</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G071/M07/00/1B/54YBAFeCThuAUG1OAFy1pZRmTLA028.mp3</string>
		<key>audioName</key>
		<string>We Don&apos;t Talk Anymore</string>
		<key>audioSinger</key>
		<string>Charlie Puth</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000001QUHr0ZY6kM.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>：Nine Track Mind </string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G035/M03/11/08/w4YBAFXmLTeAfwuKAEgT3b10wl8838.mp3</string>
		<key>audioName</key>
		<string>The Saltwater Room</string>
		<key>audioSinger</key>
		<string>Owl City</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002FEF7L03Cv7T.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>Ocean Eyes</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G031/M08/04/07/Xw0DAFXtHaCAS7r8ADeA2BHm9nc321.mp3</string>
		<key>audioName</key>
		<string>夜的第七章</string>
		<key>audioSinger</key>
		<string>周杰伦</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002jLGWe16Tf1H.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>依然范特西</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G035/M0A/10/17/A5QEAFXmjuiAFT8FADCZ2RMeq4A391.mp3</string>
		<key>audioName</key>
		<string>有你的快乐</string>
		<key>audioSinger</key>
		<string>王若琳</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000xZ5yk1CjY5V.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>tart From Here</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G031/M09/0F/0D/Xw0DAFX4g-aANKnQAJMhkFcLiEM332.mp3</string>
		<key>audioName</key>
		<string>Rather Be</string>
		<key>audioSinger</key>
		<string>Clean Bandit / Jess Glynne </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003taZd901jM5C.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>New Eyes</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/G033/M09/0A/11/wYYBAFXnTUCAfpgNAJWiniaO7SY445.mp3</string>
		<key>audioName</key>
		<string>Better In  Time</string>
		<key>audioSinger</key>
		<string>Leona Lewis </string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000011U1Yo0dOhnd.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>etter In Time</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/ddsds/dsd.mp3</string>
		<key>audioName</key>
		<string>错误测试--该地址资源无法播放</string>
		<key>audioSinger</key>
		<string>DF</string>
		<key>audioImage</key>
		<string>http://avatar.csdn.net/D/6/0/1_hdfqq188816190.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://data.5sing.kgimg.com/中国/dsd.mp3</string>
		<key>audioName</key>
		<string>错误测试-该地址非标准链接</string>
		<key>audioSinger</key>
		<string>DF</string>
		<key>audioImage</key>
		<string>http://avatar.csdn.net/D/6/0/1_hdfqq188816190.jpg</string>
		<key>audioAlbum</key>
		<string>未知</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710a813eb493d5cec91159aec06231724e5.mp3</string>
		<key>audioName</key>
		<string>321对不起</string>
		<key>audioSinger</key>
		<string>徐良</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002apRhZ4Bq99d.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>徐良L</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>https://ihoudf.github.io/dfplayer/audio/Nothing%20On%20You.mp3</string>
		<key>audioName</key>
		<string>Nothing on you</string>
		<key>audioSinger</key>
		<string>B.o.B / Bruno Mars</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000BWqJG2v3nXP.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string></string>
	</dict>
</array>
</plist>
